@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.banner-container > img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.box-select {
  display: flex;
  max-width: 1300px;
  width: 100%;
  background-color: #fff;
  padding: 40px 15px;
  gap: 95px;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #d9d9d9;
}
.inputs1-compra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-origem,
.input-destino {
  max-width: 520px;
  width: 100%;
  padding: 10px 23px;

  background-color: rgba(33, 58, 92, 0.63);
  border: 1px solid #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
input::placeholder {
  color: #fff !important;
}
.input-ida,
.input-volta {
  max-width: 250px;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(33, 58, 92, 0.63);
  border: 1px solid #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.input-passageiros {
  max-width: 195px;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(33, 58, 92, 0.63);
  border: 1px solid #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.botao-limpar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}

.botao-buscar {
  max-width: 195px;
  width: 100%;
  padding: 10px 60px;
  background-color: #213a5c !important;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.finalizar-busca-container {
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
}
.inputs-ida-volta-container {
  display: flex;
  gap: 10px;
}
.inputs2-compra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.finalizar-busca-container {
  display: flex;
}
.box-select-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -40px;
}

/* MOBILE  */

@media screen and (max-width: 768px) {
  .box-select {
    flex-direction: column;
    align-items: center;
  }
}

/* Ajustes para os erros de validação */
.input-origem,
.input-destino {
  margin-bottom: 15px;
}

.error-message-home {
  display: block;
  color: #ff0000;
  font-weight: bold;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.inputs1-compra,
.inputs2-compra,
.inputs-ida-volta-container,
.finalizar-busca-container {
  position: relative;
  padding-bottom: 20px;
}

.error-message-home {
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 100%;
  text-align: left;
}

.origin-error,
.destiny-error {
  bottom: 77px;
}
