@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.box-select {
  display: flex;
  max-width: 1300px;
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
  gap: 95px;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #d9d9d9;
}
.inputs1-compra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-origem,
.input-destino {
  max-width: 520px;
  width: 100%;
  padding: 10px 23px;

  background-color: rgba(33, 58, 92, 0.63);
  border: 1px solid #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
input::placeholder {
  color: #fff;
}
.input-ida,
.input-volta {
  max-width: 250px;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(33, 58, 92, 0.63);
  border: 1px solid #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.input-passageiros {
  max-width: 195px;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(33, 58, 92, 0.63);
  border: 1px solid #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.botao-limpar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}

.botao-buscar {
  max-width: 195px;
  width: 100%;
  padding: 10px 60px;
  background-color: #213a5c;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.finalizar-busca-container {
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
}
.inputs-ida-volta-container {
  display: flex;
  gap: 10px;
}
.inputs2-compra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.finalizar-busca-container {
  display: flex;
}
.box-select-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -40px;
}

/* MOBILE  */

@media screen and (max-width: 768px) {
  .box-select {
    flex-direction: column;
    align-items: center;
  }
}
